@model IEnumerable<ProjectMVC.Aspirant>

@{
    ViewData["Title"] = "Аспіранти за групами";
}

<h1>Аспіранти за групами @ViewBag.GroupName </h1>

<p>
    <!-- <a asp-action="Create" asp-route-id="@ViewBag.GroupID">Додати нового Аспіранта</a>-->
    @Html.ActionLink("Додати нового аспіранта", "Create", new { groupID = @ViewBag.GroupID})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, groupID = @ViewBag.GroupID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, groupID = @ViewBag.GroupID })
            </td>
        </tr>
}
    </tbody>
</table>
