@model ProjectMVC.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfStudying)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfStudying)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cathedra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cathedra.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href='javascript:history.go(-1)'>Повернутися до списку</a>
</div>
