@model IEnumerable<ProjectMVC.Group>

@{
    ViewData["Title"] = "Групи";
}

<h1>Групи</h1>

<p>
    <a asp-action="Create">Створити нову групу</a>
</p>

<div class="border border-left-0 border-right-0 ">
<h3>Оберіть excel-файл для заватаження</h3>
@using (Html.BeginForm("Import", "Groups", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
{
    <div>
        Завантажте Excel-файл:
        <input type="file" name="fileExcel" id="fileExcel" />
            <input type="submit" value="Завантажити" />
        
    </div>
}
</div>

<div class="border border-left-0 border-right-0">
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export">Завантажити</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfStudying)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cathedra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    @{
                        @if (item.TypeOfStudying == 1)
                        {
                            <text>Очне</text>
                        }
                        else if (item.TypeOfStudying == 0)
                        {
                            <text>Заочне</text>
                        }
                        else
                        {
                            <text>Інший</text>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cathedra.CathedraName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Schedule" asp-route-id="@item.Id">Schedule</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="container">
    <center>
        <div id="chart1"></div>
    </center>
</div>


@section scripts{



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            $.get('/api/Charts/JsonData', function (jsonData) {
                var data = new google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Співвідношення студентів до груп",
                    width: 500,
                    height: 400
                };

                // Create the data table.



                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }
    </script>
}

<!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<script>
    google.charts.load('current', { 'packeges': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        $.get('/api/Charts/JsonData', function (jsonData) {
            data = google.visualization.arrayToDataTable(jsonData, false);
            var option = {
                title: "Співвідношення студентів до груп",
                width: 500,
                height: 400
            };
            var chart = new google.visualization.PieChart(document.getElementById('chart1'));
            chart.draw(data, options);
            //chart = new google.visualization.PieChart(document.getElementById('chart1'));
            //chart.draw(data, option);
        })
    }
</script> -->
