@model IEnumerable<ProjectMVC.Faculties>

@{
    ViewData["Title"] = "Факультети";
}

<h1>Факультети</h1>

<p>
    <a asp-action="Create">Додати новий факультет</a>
</p>


<div class="border border-left-0 border-right-0 ">
    <h3>Оберіть excel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Faculties", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <input type="submit" value="Завантажити" />

        </div>
    }
</div>

<div class="border border-left-0 border-right-0">
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export">Завантажити</a>
</div>


<div class="border border-left-0 border-right-0">
    <h3>Завантаження інформації в файл docx</h3>
    <a asp-action="Export_Doc">Завантажити</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacultyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FacultyName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <center>
        <div id="chart2"></div>
    </center>
</div>


@section scripts{



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            $.get('/api/Charts2/JsonData', function (jsonData) {
                var data = new google.visualization.arrayToDataTable(jsonData, false);
                var option = {
                    title: "Співвідношення кафедр до факультетів",
                    width: 500,
                    height: 400
                };

                // Create the data table.



                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.BarChart(document.getElementById('chart2'));
                chart.draw(data, option);
            })
        }
    </script>
}
