@model ProjectMVC.Cathedras

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cathedras</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CathedraName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CathedraName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faculty.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href='javascript:history.go(-1)'>Повернутися до списку</a>
</div>
